{% extends "base.html" %}
{% block title %}Gruppe erstellen - DailyFavourite{% endblock %}

{% block content %}
<h2 class="mb-4">Neue Gruppe erstellen</h2>

<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
  {% csrf_token %}

  <div class="mb-3">
    <label class="form-label">Name der Gruppe:</label>
    <input type="text" name="name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Beschreibung:</label>
    <textarea name="description" class="form-control"></textarea>
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" name="is_public" class="form-check-input" id="is_public" checked>
    <label class="form-check-label" for="is_public">Öffentlich</label>
  </div>

  <div class="mb-3" id="password_field" style="display: none;">
    <label class="form-label">Passwort:</label>
    <input type="password" name="password" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Genre:</label>
    <select name="genre" class="form-select">
      <option disabled selected >Bitte wählen</option>
      {% for value in genres %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Posts pro Tag:</label>
    <input type="number" name="max_posts_per_day" value="1" min="1" class="form-control">
  </div>

  <div class="mb-3">
    <label class="form-label">Post-Erlaubnis:</label>
    <select name="post_permission" class="form-select">
      {% for value in permissions %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Lese-Erlaubnis:</label>
    <select name="read_permission" class="form-select">
      {% for value in permissions %}
        <option value="{{ value }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-4">
    <label class="form-label">Profilbild:</label>
    <input type="file" name="profile_Image" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Gruppe erstellen</button>
</form>
<script>
  const checkbox = document.getElementById("is_public");
  const passwordField = document.getElementById("password_field");

  checkbox.addEventListener("change", () => {
    if (checkbox.checked) {
      passwordField.style.display = "none";
    } else {
      passwordField.style.display = "block";
    }
  });

  // Initialer Zustand beim Laden der Seite
  window.addEventListener("load", () => {
    passwordField.style.display = checkbox.checked ? "none" : "block";
  });
</script>
{% endblock %}
