{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>RegistrationPage</title>
</head>
<body>
    <h1>DailyFavourite</h1>
    <p>Hier bitte registrieren.</p>

    <h1>Registration</h1>
    <img src="{% static 'images/wow.png' %}" alt="registerbild" width="300"><br>
    <label for="nutzername">Benutzername:</label><br>
    <input type="text" id="nutzername" name="nutzername" required><br><br>

    <label for="password">Passwort:</label><br>
    <input type="password" id="password1" name="password" required><br><br>
    <label for="password2">Passwort bestätigen:</label><br>
    <input type="password" id="password2" name="password2" required><br><br>

    <label for="favorite_artist">Lieblingskünstler:</label><br>
    <input type="text" id="favorite_artist" name="favorite_artist"><br><br>

    <label for="favorite_genre">Lieblingsgenre:</label><br>
    <input type="text" id="favorite_genre" name="favorite_genre"><br><br>



    <button onclick="registration()">Bestätigen</button>


    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        function registration() {
            const username = document.getElementById("nutzername").value;
            const password1 = document.getElementById("password1").value;
            const password2 = document.getElementById("password2").value;
            const favorite_artist = document.getElementById("favorite_artist").value;
            const favorite_genre = document.getElementById("favorite_genre").value;
        
            fetch("/api/registration/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken")
                },
                body: JSON.stringify({
                    username: username,
                    password: password1,
                    favorite_artist: favorite_artist,
                    favorite_genre: favorite_genre,
                })
            }) 
            .then(response => response.json())
            .then(data => {
                if (data.redirect_url) {
                    window.location.href = data.redirect_url;
                } else {
                    alert(data.message || "registrierung erfolgreich");
                }
            });
        }
        </script>

</body>
</html>
