{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>RegistrationPage</title>
</head>
<body>
    <h1>DailyFavourite</h1>
    <p>Hier bitte registrieren.</p>

    <h1>Registration</h1>
    <img src="{% static 'images/wow.png' %}" alt="registerbild" width="300"><br>
    <label for="nutzername">Benutzername:</label><br>
    <input type="text" id="nutzername" name="nutzername" required><br><br>

    <label for="password">Passwort:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="password2">Passwort bestätigen:</label><br>
    <input type="password2" id="password2" name="password2" required><br><br>

    <button type="login">Bestätigen</button>
</body>
</html>
